{% extends 'base.html' %}

{% block content %}
    <h1>Вы уверены, что хотите удалить страницу «{{ page.name }}»</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" name="YES" value="YES"/>
        <input type="submit" name="NO" value="NO"/>
    </form>
{% endblock content %}