{% extends 'base.html' %}

{% load wiki %}
{% block content %}
    <h1>{{ page.name }}</h1>
    {% autoescape off %}
        {{ page.text|wiki }}
    {% endautoescape %}
    {% if page.parent %}<p>Наверх: <a href="{% url 'page_show' page.parent.path %}">{{ page.parent.name }}</a></p>{% endif %}
    {% if page.childs.all|length > 0 %}
        <p>Дочерние страницы:</p>
        <ul>
            {% for child_page in page.childs.all %}
                <li><a href="{% url 'page_show' child_page.path %}">{{ child_page.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}