<form method="post" >
    {% csrf_token %}
    {% for field in form %}
        {{ field.label }}<br/>
        {{ field.errors }}<br/>
        {% if field.name == 'slug' %}
            {% if parent_page %}{{ parent_page.path }}{% endif %}/
        {% endif %}{{ field }}<br/>
        <br/>
    {% endfor %}
    <input type="submit" name="save" value="SAVE">
</form>