<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <nav id="menu">
        {% block menu %}
            {% with menu_items=root_items list_template='inc/menu_list.html' %}
                {% include list_template %}
            {% endwith %}
        {% endblock menu %}
    </nav>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>