{% if menu_items %}
    <ul>
        {% for item in menu_items %}
            <li>
                {% if item %}
                    <a href="{% url 'page_show' item.path %}">{{ item.name }}</a>
                    (<a href="{% url 'page_edit' item.path %}">edit</a>
                     <a href="{% url 'page_delete' item.path %}">delete</a>)
                    {% with menu_items=item.childs.all list_template='inc/menu_list.html' %}
                        {% if menu_items|length > 0 %}
                            {% include list_template %}
                        {% endif %}
                    {% endwith %}
                    <br/>———<a href="{% url 'page_add' item.path %}">add child</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}